{% extends 'events/base.html' %}

    {% block content %}
<center>
    {% if user.is_authenticated %}
    <h1>Dodaj događaj</h1>
    <br/><br/>
    {% if snimljeno %}
    
    {% include 'events/messages.html' %}

    {% else %}

    

    <form action="" method=POST>
         {% csrf_token %}

         {{ form.as_p }}

         <input type="submit" value="Submit" class="btn btn-secondary">

    </form>
    {% endif %}
 
   
    <br/><br/>
{% else %}
    <h1>Moraš da budeš logovan!</h1>
    <a href="{% url 'login' %}">Loguj se</a>
{% endif %}

    {% endblock %}