{% extends 'events/base.html' %}

    {% block content %}
<center>
  {% if user.is_authenticated %}
    <h1>Dodaj Mesto Događaja</h1>
    <br/><br/>ID: {{ user.id }}
    {% if snimljeno %}
    
    <div {% include 'main/includes/messages.html' %}
  </div>

    {% else %}

    

    <form action="" method=POST>
         {% csrf_token %}

         {{ form.as_p }}

         <input type="submit" value="Submit" class="btn btn-secondary">

    </form>
    {% endif %}
 
    </center>
    {% else %}
    <h1>Moraš da budeš logovan!</h1>
    <a href="{% url 'login' %}">Loguj se</a>
{% endif %}


    {% endblock %}